body {
  margin: 0;
  font-family: Arial, sans-serif;
}
img{
    border-radius: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}


.logo {
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.logo h1 {
  margin-left: 10px;
  font-size: 28px;
  color: #333;
  
}


.auth a {
  color: purple;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  background-color: #eaeaea;
  border-top: 1px solid #ccc;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;

}

nav a:hover {
  color: purple;
   transform:scale(1.5);
  transition: transform 0.4s ease-in-out;
}

#hero img{
  width: 100%;
  border-radius: 0px;
  height: 400px;
  
  
}
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
}

.product-card {
  min-width: 250px;
  margin: 10px;
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  flex-shrink: 0;
  border-radius: 50px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slider-btn.prev {
  left: 0;
}

.slider-btn.next {
  right: 0;
}
.product-card:hover{
  transform:scale(1.2);
  transition: transform 0.4s ease-in-out;
}
#Dis{
  background-color: #0c72a9;
  border-style: hidden;
  padding: 30px;
}
p{
  font-family: cursive;
  font-weight: bold;
  font-size: 15px;
}